body {
    background-color: #463f3fec;
    font-size: 20px;
    text-align: center;
    color: #E1D5D2;
    background-image: url("../img/smoke_cloud_dark_border.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background-color: #6d5a77;
    color: #382d2d;
    margin: auto;
    margin-bottom: 30px;
    width: 600px;
    border: 2px solid #8D6262;
    border-radius: 25px 40px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    text-decoration: underline;
}

div {
    /* height: 100px; */
    margin: 10px;
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px;
    font-size: 20px;
    font-weight: 800;
    background-color: #3e3d4b;
    color: #E79A58;
    cursor: pointer;
    border: 1px solid #A55540;
}

.controller {
    padding: 10px;
}

h4 {
    background-color: rgb(146, 185, 94);
    padding: 5px;
}

.game-container {
    padding: 20px;
    max-width: fit-content;
    margin: auto;
    background-color: #4a454d;
    border-radius: 0% 0% 5% 5%;
}

.mine-field {
    background-color: #bfbfbfd7;
    border: 5px solid rgba(41, 36, 36, 0.925);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 0px;
    padding: 3px;
}

td {
    color: #29264d;
    font-size: 20px;
    border: 2px solid rgb(103, 76, 104);
    border-radius: 10%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    outline: 1px #3a3669;
    outline-offset: 0.01em;
    outline-style: double;
    /* box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2); */
}

td:hover {
    background-color: hsla(0, 0%, 85%, 0.822);
    /*
  
  .button-83:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
    transform: translateY(0.125rem);
  
*/
}

.hinted-safe {
    background-color: darkorange;
}

table.mine-field tr td.opened-cell,
table.mine-field tr td.opened-cell:hover {
    background-color: hsla(226, 7%, 53%, 0.796);
    cursor: default;
}


/* .mine-cell {
    background-color: rgba(207, 96, 96, 0.61);
} */

.flag,
.flag:hover {
    background-color: rgba(155, 121, 70, 0.678);
    background-image: url("../img/red-flag.png");
}

.hud {
    background-color: #4a454d;
    /* width: 600px; */
    margin: auto;
    padding-top: 30px;
    border-radius: 5px;
    width: 490px;
}

.hud * {
    background-color: #393232;
    border: 0.5px solid #744233b0;
    width: 100px;
    margin: 10px;
    padding: 10px;
    color: rgb(197, 19, 19);
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.hint {
    background-color: #58402b;
    width: 150px;
    margin-top: 0px;
}

.score,
.high-score {
    background-color: #1f1e2bcb;
}

.smiley {
    margin: auto;
    margin-top: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url("../img/Smiley_main.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    line-height: 160px;
    color: #e9ce59e0;
}

.manual {
    text-decoration: line-through;
    color: rgb(83, 83, 83);
}

.footer {
    text-align: left;
    background-color: #393232;
    width: 100%;
    margin: 0px;
    margin-top: 70px;
    padding: 10px;
}